@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}



body{
    margin: 0px;
    padding: 0px;


    background: url(pezinho.jpeg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    min-height: 150px;
    width: 98.5%;
    padding: 10px;

    background: url(banner.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.547);
    
}

header > h1{
    font-size: 60px;
    text-align: center;
    color: red;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.547);
}



main > section{
    min-width: 300px;
    max-width: 1000px;
    background: transparent;
    margin: auto;


margin-top: 20px;
margin-bottom: 20px;


background-color: rgba(0, 0, 0, 0.349);
color: white;
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.547);
}

section{
    min-width: 300px;
    max-width: 1000px;
    background: transparent;
    margin: auto;
}

h1.titulo{
    text-align: center;
    color: white;
}

fieldset.cu{
    width: 20%;
    margin: auto;
}
fieldset.gostosa{
    width: 40%;
    margin: auto;
}
fieldset.apelido{
    width: 50%;
    margin: auto;
}
fieldset.duo{
    width: 31.5%;
    margin: auto;

}
fieldset.duo > input >{
color: black;
}

.enviar{
    margin-top: 20px;
    margin-left: 47%;
    padding: 8px;

    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.enviar:hover{
    color: black;
    background-color: white;
}

h1.amo{
    text-align: center;
    margin-top: 7%;
    color: red;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.547);
    font-size: 35px;
}

h1.duozinho{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;

    height: 40px;
}

footer > p{
    padding-top: 8px;
}
p.ass{
    text-align: center;
    font-weight: bolder;
}


input.ass1{
    background: none;
    color: red;
    font-weight: bolder;
    width: 200px;
    height: 40px;
    margin-left: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}